</main>
<footer class="text-center py-6 text-sm opacity-75">
  <p>Creado en Visual Studio Code - <a href="https://code.visualstudio.com/" class="underline">code.visualstudio.com</a>.</p>
</footer>
<script src="/js/lab4.js"></script>
</body>
</html>
