<nav class="flex justify-center space-x-8">
  <a href="/tienda" class="hover:text-blue-400 text-lg font-semibold">Tienda</a>
  <a href="/tienda/pedidos" class="hover:text-blue-400 text-lg font-semibold">Pedidos</a>
  <a href="/acerca" class="hover:text-blue-400 text-lg font-semibold">Acerca</a>
  <a href="/contacto" class="hover:text-blue-400 text-lg font-semibold">Contacto</a>

  <% if (!isAuthenticated) { %>
    <a href="/login" class="hover:text-blue-400 text-lg font-semibold">Login</a>
    <a href="/signup" class="hover:text-blue-400 text-lg font-semibold">Signup</a>
  <% } else { %>
    <form action="/logout" method="POST" class="inline">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="hover:text-blue-400 text-lg font-semibold">
        Logout (<%= usuarioActual ? usuarioActual.nombre : '' %>)
      </button>
    </form>
  <% } %>
</nav>
