<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<section class="bg-white/10 backdrop-blur-md rounded-3xl p-12 mb-20 shadow-2xl">
  <h2 class="text-3xl font-bold mb-4">Acerca de la Tiendita</h2>
  <p>
    Esta aplicación web fue desarrollada por Luis Fernando Tena Ortega como práctica de Construcción
    de Software usando Node, Express y EJS.
  </p>
</section>

<%- include('includes/footer.ejs') %>
