<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<section class="bg-white/10 backdrop-blur-md rounded-3xl p-12 mb-20 shadow-2xl">
  <h2 class="text-3xl font-bold mb-4">Contacto</h2>
  <p>Puedes escribirme a: <strong>a01708712@tec.mx</strong></p>
</section>

<%- include('includes/footer.ejs') %>
